@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

#container {
  display: flex;
  flex-direction: column;
}

.layout {
  flex: 1;
}

.header {
  display: flex;
  background-color: #1F2937;
  padding: 15px;
}

.nav {
  text-align: right;
  font-size: 18px;
}

.nav a {
  color: #E5E7EB;
  text-decoration: none;
  /*vertical-align: bottom;*/
  margin-top: 5px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}
